* { font-family: 'Montserrat', sans-serif;}

body {
    margin: 0;
}
.logo {
    font-size: 2.5625rem;
    color: #053C5E;
}
h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    margin-block: 0.2rem;
}
h2 {
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 3.875rem;
line-height: 67px;
/* or 109% */
color: #00666B;
/* Frame 23 */
/* Auto Layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;

position: static;
width: 437px;
height: 155px;
left: 0px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 32px 0px;

}

p {
    font-size: 1rem;
    position: static;
    width: 374.67px;
    height: 104px;
    left: 10px;
    top: 0px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    
    
    color: #053C5E;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}
.container {
    display: flex;
}

.container1 {
    display: flex;
}

nav a {
margin: 0 40px;
color: black;
    cursor: pointer;
    text-decoration: solid;
}

header {
background-color: #DBF0F1;;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
width: 1440px;
height: 4vh;
left: 0px;
top: 0px;
justify-content: space-between;
align-items: center;
padding: 20px;
}

.container1 {
    display: flex;
}

img {
    width: 50%;
    position: absolute;
width: 662.05px;
height: 570.73px;
left: 625.83px;
top: 93px;

}

#hero { 
/* Frame 22 */
/* Auto Layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 437px;
height: 405px;
left: 247.88px;
top: 209.16px;
}

#Android {

}